<section data-ng-controller="HomeController">
	<div class="text-center content-header">
		<br>
		<div>
			<p class="lead">
				This is a <b>demo</b> project that allows to search jobs scrapped from
				<a href="http://www.jobscout24.ch/">jobscout24.ch</a> using <a href="https://import.io/">import.io</a>
				<br>
				<br>
				Front-end was built with <b>AngularJS</b> and it utilizes REST API developed with <b>Node.js</b> + <b>MongoDB</b>
			</p>
		</div>
		<div>
			<p>
				<a class="btn btn-success btn-lg" href="/signup">Try It</a>
			</p>
		</div>

		<div class="container bottom-line"></div>
	</div>
	<section class="container">
		<h4>Latest Jobs</h4>
		<jobs-list></jobs-list>
	</section>
</section>
