<section  data-ng-controller="SidebarController">
	<div class="visible-xs well text-center menu-opener"
		 data-ng-click="toggleMenu()">Menu</div>
	<div collapse="!isMenuVisible">
		<a ui-sref="dashboard.new-subscription"
		   ui-route="/dashboard/subscription/new"
		   class="item "
		   ng-class="{active: $uiRoute}">
			+ New Subscription
		</a>

		<a ui-sref="dashboard"
		   ui-route="/dashboard"
		   class="item"
		   ng-class="{active: $uiRoute}">
			All Jobs
		</a>

		<subscriptions-list></subscriptions-list>
	</div>
</section>
