@import '../../../less/variables.less';

.navbar.navbar-fixed-top {
    background-color: #fff;

    li {
        a {
            color: #888;
            text-shadow: 0px 0px 0px;
        }
        &.active a, a:hover {
            color: @links-color;
            border-top: 3px solid #437e6e;
            margin-top: 10px;
            padding-top: 2px;
            background: none;
        }
    }
}
.content {
    margin-top: 50px;

    .container {
        @media (min-width: 1200px) {
            & {
                width: 970px;
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: @links-color;
    }
}

.loading-items-container {
    margin-top: 5px;
    color: @links-color;
}

.sidebar {
    padding-right: 0;

    & > section {
        margin-top: 20px;
    }

    .item {
        padding: 5px;
        display: block;
        color: @links-color;

        &:hover {
            background-color: @links-color;
            color: @links-hover-color;
            text-decoration: none;
            cursor: pointer;
            .icons {
                display: inline;
                padding-right: 2px;
            }
        }

        &.active {
            text-decoration: none;
            background-color: transparent;
            color:  @links-disabled-color;
            &:hover {
                color:  @links-disabled-color;
            }
        }

        .icons {
            display: none;
        }
    }
}

.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
