
@media (min-width: 1200px) {
  .jobs-aggregator .container {
    width: 970px;
  }
}
.jobs-aggregator h1,
.jobs-aggregator h2,
.jobs-aggregator h3,
.jobs-aggregator h4,
.jobs-aggregator h5,
.jobs-aggregator h6,
.jobs-aggregator a {
  color: #437e6f;
}
.jobs-aggregator .btn {
  color: #fff;
}
.jobs-aggregator .btn.btn-success {
  background-color: #437e6f;
  border-color: #437e6f;
}
.jobs-aggregator .btn.btn-success:hover {
  background-color: #334440;
}
.jobs-aggregator .btn.btn-default {
  color: #437e6f;
}
.jobs-aggregator .label-success {
  background-color: #437e6f;
}
.jobs-aggregator .progress {
  -webkit-border-radius: 0;
          border-radius: 0;
}

.butterbar {
  position: relative;
  height: 3px;
  margin-bottom: -3px;
}
.butterbar.active {
  -webkit-animation: changebar 2.25s infinite .75s;
          animation: changebar 2.25s infinite .75s;
}
.butterbar.active .bar {
  -webkit-animation: changebar 2.25s infinite;
          animation: changebar 2.25s infinite;
}
.butterbar.active .bar:before {
  -webkit-animation: movingbar 0.75s infinite;
          animation: movingbar 0.75s infinite;
}
.butterbar .bar {
  position: absolute;
  width: 100%;
  height: 0;
  text-indent: -9999px;
  background-color: #23b7e5;
}
.butterbar .bar:before {
  position: absolute;
  right: 50%;
  left: 50%;
  height: 3px;
  background-color: inherit;
  content: "";
}
@-webkit-keyframes movingbar {
  0% {
    right: 50%;
    left: 50%;
  }
  99.9% {
    right: 0;
    left: 0;
  }
  100% {
    right: 50%;
    left: 50%;
  }
}
@keyframes movingbar {
  0% {
    right: 50%;
    left: 50%;
  }
  99.9% {
    right: 0;
    left: 0;
  }
  100% {
    right: 50%;
    left: 50%;
  }
}
@-webkit-keyframes changebar {
  0% {
    background-color: #437e6f;
  }
  33.3% {
    background-color: #3d7e4c;
  }
  33.33% {
    background-color: #5bc0de;
  }
  66.6% {
    background-color: #4280de;
  }
  66.66% {
    background-color: #5cb85c;
  }
  99.9% {
    background-color: #4db83f;
  }
}
@keyframes changebar {
  0% {
    background-color: #437e6f;
  }
  33.3% {
    background-color: #3d7e4c;
  }
  33.33% {
    background-color: #5bc0de;
  }
  66.6% {
    background-color: #4280de;
  }
  66.66% {
    background-color: #5cb85c;
  }
  99.9% {
    background-color: #4db83f;
  }
}

@media (min-width: 1200px) {
  .jobs-aggregator .container {
    width: 970px;
  }
}
.jobs-aggregator h1,
.jobs-aggregator h2,
.jobs-aggregator h3,
.jobs-aggregator h4,
.jobs-aggregator h5,
.jobs-aggregator h6,
.jobs-aggregator a {
  color: #437e6f;
}
.jobs-aggregator .btn {
  color: #fff;
}
.jobs-aggregator .btn.btn-success {
  background-color: #437e6f;
  border-color: #437e6f;
}
.jobs-aggregator .btn.btn-success:hover {
  background-color: #334440;
}
.jobs-aggregator .btn.btn-default {
  color: #437e6f;
}
.jobs-aggregator .label-success {
  background-color: #437e6f;
}
.jobs-aggregator .progress {
  -webkit-border-radius: 0;
          border-radius: 0;
}
.butterbar {
  position: relative;
  height: 3px;
  margin-bottom: -3px;
}
.butterbar.active {
  -webkit-animation: changebar 2.25s infinite .75s;
          animation: changebar 2.25s infinite .75s;
}
.butterbar.active .bar {
  -webkit-animation: changebar 2.25s infinite;
          animation: changebar 2.25s infinite;
}
.butterbar.active .bar:before {
  -webkit-animation: movingbar 0.75s infinite;
          animation: movingbar 0.75s infinite;
}
.butterbar .bar {
  position: absolute;
  width: 100%;
  height: 0;
  text-indent: -9999px;
  background-color: #23b7e5;
}
.butterbar .bar:before {
  position: absolute;
  right: 50%;
  left: 50%;
  height: 3px;
  background-color: inherit;
  content: "";
}
@-webkit-keyframes movingbar {
  0% {
    right: 50%;
    left: 50%;
  }
  99.9% {
    right: 0;
    left: 0;
  }
  100% {
    right: 50%;
    left: 50%;
  }
}
@keyframes movingbar {
  0% {
    right: 50%;
    left: 50%;
  }
  99.9% {
    right: 0;
    left: 0;
  }
  100% {
    right: 50%;
    left: 50%;
  }
}
@-webkit-keyframes changebar {
  0% {
    background-color: #437e6f;
  }
  33.3% {
    background-color: #3d7e4c;
  }
  33.33% {
    background-color: #5bc0de;
  }
  66.6% {
    background-color: #4280de;
  }
  66.66% {
    background-color: #5cb85c;
  }
  99.9% {
    background-color: #4db83f;
  }
}
@keyframes changebar {
  0% {
    background-color: #437e6f;
  }
  33.3% {
    background-color: #3d7e4c;
  }
  33.33% {
    background-color: #5bc0de;
  }
  66.6% {
    background-color: #4280de;
  }
  66.66% {
    background-color: #5cb85c;
  }
  99.9% {
    background-color: #4db83f;
  }
}
body {
  background-color: #eeeeee;
  padding-bottom: 20px;
}
h4 span {
  color: #7c7c93;
}
.navbar.navbar-fixed-top {
  background-color: #fff;
}
.navbar.navbar-fixed-top a {
  color: #437e6f;
  text-transform: uppercase;
  cursor: pointer;
}
.navbar.navbar-fixed-top .nav > li > a {
  color: #888;
  text-shadow: 0 0 0;
}
@media (max-width: 767px) {
  .navbar.navbar-fixed-top .nav > li > a {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.navbar.navbar-fixed-top .nav > li.active > a,
.navbar.navbar-fixed-top .nav > li > a:hover {
  color: #437e6f;
  border-top: 3px solid #437e6e;
  margin-top: 10px;
  padding-top: 2px;
}
@media (max-width: 767px) {
  .navbar.navbar-fixed-top .nav > li.active > a,
  .navbar.navbar-fixed-top .nav > li > a:hover {
    border-top: none;
    color: #334440;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.navbar.navbar-fixed-top .nav > li.active a,
.navbar.navbar-fixed-top .nav > li a:hover {
  background: none;
}
.navbar.navbar-fixed-top .nav .user-menu img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-size: contain;
  width: 34px;
  height: 34px;
  border: 0;
  color: #fff;
  background-color: #5faef3;
  border-color: #5faef3;
}
.navbar.navbar-fixed-top .nav .user-menu > a {
  padding-top: 9px;
}
.navbar.navbar-fixed-top .nav .user-menu.active > a,
.navbar.navbar-fixed-top .nav .user-menu > a:hover {
  border-top: 0;
  padding-top: 0;
  margin-top: 9px;
}
.navbar.navbar-fixed-top .nav .user-menu.active > a span,
.navbar.navbar-fixed-top .nav .user-menu > a:hover span {
  border-top: 3px solid #437e6e;
  padding-top: 4px;
}
@media (max-width: 767px) {
  .navbar.navbar-fixed-top .nav .user-menu.active > a span,
  .navbar.navbar-fixed-top .nav .user-menu > a:hover span {
    border-top: none;
  }
}
.navbar.navbar-fixed-top .nav .user-menu.open > a {
  background: none;
}
.navbar.navbar-fixed-top .navbar-toggle {
  border-color: #000;
}
.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #000;
}
.content-header {
  background: url(../../../images/cut_header.png) no-repeat center -24px #d7d7d7;
  margin-bottom: 40px;
}
.content-header .bottom-line {
  border-bottom: 6px solid #000;
}
.content {
  margin-top: 59px;
}
.loading-items-container {
  margin-top: 5px;
  color: #437e6f;
}
.sidebar {
  padding-right: 0;
}
.sidebar > section {
  margin-top: 20px;
}
.sidebar .item {
  padding: 5px;
  display: block;
  color: #437e6f;
}
.sidebar .item:hover {
  background-color: #437e6f;
  color: #ecf2f0;
  text-decoration: none;
  cursor: pointer;
}
.sidebar .item:hover .icons {
  display: inline;
  padding-right: 2px;
}
.sidebar .item.active {
  text-decoration: none;
  background-color: transparent;
  color: #334440;
}
.sidebar .item.active:hover {
  color: #334440;
}
.sidebar .item .icons {
  display: none;
}
.sidebar .navbar-toggle {
  float: none;
  border-color: #000;
}
.sidebar .navbar-toggle .icon-bar {
  background-color: #000;
}
.sidebar .menu-opener {
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
}
.sidebar .menu-opener:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .sidebar {
    padding-right: 15px;
  }
}
@media (min-width: 480px) {
  .sidebar .collapse {
    display: block;
  }
}
.no-left-padding {
  padding-left: 0;
}
@media (max-width: 767px) {
  .pull-left-xs {
    float: left !important;
  }
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}

.job-item .description {
  color: #000;
}
.dashboard {
  padding-left: 0;
}
@media (max-width: 767px) {
  .dashboard {
    padding-left: 15px;
  }
}
.dashboard .loading-items-container {
  margin-top: 5px;
}
.dashboard .bootstrap-tagsinput {
  display: block;
}
.dashboard .bootstrap-tagsinput .tag {
  background-color: #437e6f;
}
.dashboard .cities-container {
  max-height: 175px;
  overflow-y: scroll;
  padding-top: 0;
}
.dashboard .cities-container .loading-items-container {
  margin-top: 15px;
}
.dashboard .cities-title label {
  line-height: 30px;
}
.dashboard .cities-title .form-group {
  width: 102px;
  margin-bottom: 5px;
}
.dashboard .jobs .error {
  font-size: 17px;
  margin-top: 30px;
  color: #ad0a0a;
  font-weight: bold;
}
.dashboard .jobs .no-jobs {
  margin-top: 30px;
  color: #ad0a0a;
}

.job-item .description {
  color: #000;
}

.stats-content {
  margin-top: 10px;
}
.stats-content .progress {
  margin-bottom: 2px;
  height: 16px;
}
.stats-content .progress .progress-bar {
  color: #000;
  line-height: 16px;
}
.stats-content .progress .progress-bar span {
  white-space: nowrap;
}
