@import '../../../less/variables.less';
@import './bootstrap-overrides.less';
@import './butter-bar.less';
@import '../../../lib/bootstrap/less/variables.less';

body {
    background-color: @body-background-color;
    padding-bottom: 20px;
}

.navbar.navbar-fixed-top {
    background-color: #fff;
    a {
        color: @links-color;
        text-transform: uppercase;
        cursor: pointer;
    }

    .nav {
        & > li {
            & > a {
                color: #888;
                text-shadow: 0 0 0;
                @media (max-width: @screen-xs-max) {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
            &.active > a, & > a:hover {
                color: @links-color;
                border-top: 3px solid #437e6e;
                margin-top: 10px;
                padding-top: 2px;
                @media (max-width: @screen-xs-max) {
                    border-top: none;
                    color: @links-disabled-color;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
            &.active a, a:hover {
                background: none;
            }
        }

        .user-menu {
            img {
                border-radius: 50%;
                background-size: contain;
                width: 34px;
                height: 34px;
                border: 0;
                color: #fff;
                background-color: #5faef3;
                border-color: #5faef3;
            }
            & > a {
                padding-top: 9px;
            }
            &.active > a, & > a:hover {
                border-top: 0;
                padding-top: 0;
                margin-top: 9px;

                span {
                    border-top: 3px solid #437e6e;
                    padding-top: 4px;
                    @media (max-width: @screen-xs-max) {
                        border-top: none;
                    }
                }
            }
            &.open {
                & > a {
                    background: none;
                }
            }

        }
    }

    .navbar-toggle {
        border-color: #000;
        .icon-bar {
            background-color: #000;
        }
    }

}

.content-header {
    background: url(../../../images/cut_header.png) no-repeat center -24px #d7d7d7;
    margin-bottom: 40px;

    .bottom-line {
        border-bottom: 6px solid #000;
    }
}

.content {
    margin-top: 59px;
}

.loading-items-container {
    margin-top: 5px;
    color: @links-color;
}

.sidebar {
    padding-right: 0;

    & > section {
        margin-top: 20px;
    }

    .item {
        padding: 5px;
        display: block;
        color: @links-color;

        &:hover {
            background-color: @links-color;
            color: @links-hover-color;
            text-decoration: none;
            cursor: pointer;
            .icons {
                display: inline;
                padding-right: 2px;
            }
        }

        &.active {
            text-decoration: none;
            background-color: transparent;
            color:  @links-disabled-color;
            &:hover {
                color:  @links-disabled-color;
            }
        }

        .icons {
            display: none;
        }
    }

    .navbar-toggle {
        float: none;
        border-color: #000;
        .icon-bar {
            background-color: #000;
        }
    }

    .menu-opener {
        padding-top: 3px;
        padding-bottom: 3px;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
    }
    @media (max-width: @screen-xs-max) {
        padding-right: 15px;
    }
    @media (min-width: @screen-xs-min) {
        .collapse {
            display: block;
        }
    }
}

.no-left-padding {
    padding-left: 0;
}

@media (max-width: @screen-xs-max) {
    .pull-left-xs {
        float: left !important;
    }
}

.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
