<form data-ng-submit="save()" data-ng-init="init()">
	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-control" data-ng-model="subscription.title" placeholder="Subscription's title">
	</div>


	<div class="form-group">
		<label>Keywords</label>
		<keywords-tabinput keywords="subscription.keywords"></keywords-tabinput>
	</div>

	<div class="form-group">
		<div class="row cities-title">
			<div class="col-xs-12 col-sm-6">
				<label>Select cities </label>
			</div>
			<div class="col-xs-12 col-sm-6">
				<search-input value="search.city"></search-input>
			</div>
		</div>
		<div class="well cities-container">
			<loader></loader>
			<div class="checkbox" data-ng-repeat="city in stats.cities | orderBy:'name' | filter: {name: search.city} ">
				<label>
					<input type="checkbox" value="{{city.name}}" data-ng-model="subscription.selectedCities[city.name]"> {{city.name}}
				</label>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-offset-9 col-sm-3">
			<div class="row">
				<div class="col-sm-6">
					<a href="/#!/dashboard" class="btn btn-default pull-right">Cancel</a>
				</div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-success pull-right">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
