<a data-ng-repeat="job in jobs"
   href="{{job.link}}"
   class="list-group-item job-item">

	<h4 class="list-group-item-text">
		{{job.title}} <small> <span data-ng-show="job.city">in</span> <b>{{job.city}}</b></small>
		<span class="label label-success pull-right"
			  tooltip-placement="bottom"
			  tooltip="Level Of Employment is {{job.levelOfEmployment}}">
			{{job.levelOfEmployment}}
		</span>
	</h4>
	<div class="text-muted">
		<span tooltip-placement="bottom" tooltip="Posted on {{job.datePosted | date : 'd.M.yyyy'}}">
			{{job.datePosted && (job.datePosted | date : 'd.M.yyyy') || 'No Date'}}
		</span>
		|
		<span tooltip-placement="bottom" tooltip="Posted by {{job.company}}">
			{{job.company}}
		</span>
	</div>
	<p class="description">{{job.shortDescription}}</p>
</a>
