<a data-ng-repeat="job in jobs"
   href="{{job.link}}"
   class="list-group-item">

	<h4 class="list-group-item-text">
		{{job.title}} <small> <span data-ng-show="job.city">in</span> <b>{{job.city}}</b></small>
		<span class="label label-success pull-right"
			  tooltip-placement="bottom"
			  tooltip="Occupancy is {{job.availability}}">
			{{job.availability}}
		</span>
	</h4>
	<div class="text-muted">
		<span tooltip-placement="bottom" tooltip="Posted on {{job.date | date : 'd.M.yyyy'}}">
			{{job.date | date : 'd.M.yyyy'}}
		</span>
		|
		<span tooltip-placement="bottom" tooltip="Posted by {{job.company}}">
			{{job.company}}
		</span>
	</div>
	<p>{{job.short_description}}</p>
</a>
