@import '../../../less/variables.less';

.dashboard {
    padding-left: 0;

    h1, h2, h3, h4, h5, h6 {
        color: @links-color;
    }

    .loading-items-container {
        margin-top: 5px;
        color: @links-color;
    }
}
